DB_HOST=localhost
DB_NAME=iaps_db
DB_USER=root
DB_PASS=
DB_PORT=3306

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=contato@institutoatletaparasempre.org
SMTP_FROM_NAME=Instituto Atleta Para Sempre

CONTACT_EMAIL=contato@institutoatletaparasempre.org
TINYMCE_API_KEY=

APP_URL=http://localhost:8080
APP_ENV=development
APP_DEBUG=true
