Options -Indexes

# Bloquear execução de PHP dentro da pasta uploads (segurança)
<FilesMatch "\.(php|php3|php4|php5|phtml|pl|py|jsp|asp|sh|cgi)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>
